@charset "UTF-8";
/* CSS Document */

.navbar {
  background-color: #fff;
}

.container-fluid {
  background: #fff;
}

#content {
  background-color: #fff;
}

.user_info_name {
  color: #858796;
  font-size: 3vh;
}

#info_header {
  font-size: 6vh;
  text-align: center;
}

#info_queue {
  font-size: 5vh;
  text-align: center;
}

b {
  font-size: 8vh;
  color: #007bff;
}

#info_position {
  text-align: center;
}

#info_time {
  font-size: 5vh;
  text-align: center;
}

#info_wait {
  text-align: center;
}

hr {
  width: 60vw;
}

.room_list {
  color: #007bff;
  border-color: #007bff;
  font-size: 5vh;
  margin-bottom: 2vh;
}

.center {
  text-align: center;
}

.room_list:hover {
  color: #fff;
  background-color: #007bff;
}
