@charset "UTF-8";
/* CSS Document */

.navbar {
  background-color: #fff;
}

.container-fluid {
    background: #fff;
}

#content {
  background-color: #fff;
}

.user_info_name {
  color: #858796;
  font-size: 3vh;
}

#info_header {
  font-size: 5vh;
}
