{% extends 'admin_base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/picker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/add_question.css' %}">
<script type="text/javascript" src="{% static 'js/picker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/add_question.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-validate.js' %}"></script>
<div class="row">
  <div class="col-lg-12">
    <div class="card border-left-primary shadow mb-4 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Information</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">Here You can add the question to the system</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-info fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="m-0 font-weight-bold text-primary">Add</h1>
          </div>
        </div>
      </div>
      <div class="card-body" id="card-body-table">
          <div class="table-responsive">
            <table class="table table-bordered" id="q_table">
              <thead>
                <tr>
                  <th scope="col" hidden="hidden">id</th>
                  <th scope="col" hidden="hidden">#</th>
                  <th scope="col">Text</th>
                  <th scope="col">Options</th>
                  <th scope="col">Correct</th>
                  <th scope="col">Duration</th>
                  <th scope="col">Reading</th>
                </tr>
              </thead>
              <tbody id=q_table_body>
                <tr>
                  <td hidden="hidden">
                    <div id="q_number">1</div>
                  </td>
                  <td>
                    <textarea id="q_text" class="form-control" name="name"></textarea>
                    <script type="text/javascript">
                      bootstrapValidate('#q_text', 'required:Please fill out this field!')
                    </script>
                  </td>
                  <td>
                    <div>
                      1<input type="text" class="form-control" id="q_ans_1">
                      <script type="text/javascript">
                        bootstrapValidate('#q_ans_1', 'required:Please fill out this field!')
                      </script>
                    </div>
                    <p>
                    </p>
                    <div>
                      2<input type="text" class="form-control" id="q_ans_2">
                      <script type="text/javascript">
                        bootstrapValidate('#q_ans_2', 'required:Please fill out this field!')
                      </script>
                    </div>
                    <p>
                    </p>
                    <div>
                      3<input type="text" class="form-control" id="q_ans_3">
                      <script type="text/javascript">
                        bootstrapValidate('#q_ans_3', 'required:Please fill out this field!')
                      </script>
                    </div>
                    <p>
                    </p>
                    <div>
                      4<input type="text" class="form-control" id="q_ans_4">
                      <script type="text/javascript">
                        bootstrapValidate('#q_ans_4', 'required:Please fill out this field!')
                      </script>
                    </div>
                  </td>
                  <td>
                    <select class="custom-select form-control" id="q_corr">
                      <option selected="selected">1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </td>
                  <td>
                    <div class="js-inline-picker" id="q_durr">00:00:30</div>
                    <div class="picker-container" id="q_durr_cont">
                    </div>
                    <script type="text/javascript">
                      Start();
                    </script>
                  </td>
                  <td class="center">
                    <input type="checkbox" id="q_reading">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" class="btn btn-outline-primary" id="sub_but" onclick="SendPost()">Submit</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
