{% extends 'admin_base.html' %}
{% block content %}
{% load static %}
<div class="row">
  <div class="col-lg-12">
    <div class="card border-left-primary shadow mb-4 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h2 font-weight-bold text-primary text-uppercase mb-1">Welcome to the exam management interface</div>
            <div class="h3 mb-0 font-weight-bold text-gray-1000">
              <p></p>
              <p>Here you can manage your exam, create and edit questions, view results and statistics on them, and much more.</p>
              <p>To get started, select the section of interest on the left</p>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-info fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
