<!DOCTYPE HTML>
{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/file_upload.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/file_upload.css' %}">
  <meta name="viewport"
content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Test upload</title>
</head>

<body>
  <header id="header" class="header">
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">Загрузка условий теста</h3>
          </div>
          <div class="card-body">
            <iframe name="formDestination" hidden></iframe>

            <h5 class="m-0 font-weight-bold text-primary">Сюда прикрепите условия теста и нажмите Submit</h5>
            <form id="file_load" action="http://localhost:5000/api/file_uploader/text/" target="formDestination" enctype="multipart/form-data" method="POST">
              {% csrf_token %}
              <div class="custom-file">
                <input name="file" type="file" class="custom-file-input" id="test_file" accept=".doc">
                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
              </div>
              <button type="submit" class="btn btn-outline-primary" id="sub_but">Submit</button>
            </form>


            <h5 class="m-0 font-weight-bold text-primary">После этого прикрепите ключи к тесту и нажмите Submit</h5>
            <form id="file_load" action="http://localhost:5000/api/file_uploader/keys/" enctype="multipart/form-data" method="POST">
              {% csrf_token %}
              <div class="custom-file">
                <input name="file" type="file" class="custom-file-input" id="test_file" accept=".doc">
                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
              </div>
              <button type="submit" class="btn btn-outline-primary" id="sub_but">Submit</button>
            </form>
 
          </div>
        </div>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </header>
</body>
</html>
