{% extends 'admin_base.html' %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'js/file_upload.js' %}"></script>
<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Парсер вопросов</h3>
      </div>
      <div class="card-body">
        <form id="file_load">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="test_file" accept=".doc">
            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
          </div>
        </form>
        <button type="button" class="btn btn-outline-primary" id="sub_but" onclick="SendQuestions()">Parse</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
