{% extends 'admin_base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/logpass-front.css' %}" rel="stylesheet" type="text/css">
<div class="row">
  <div class="col-lg-12">
    <div class="card border-left-primary shadow mb-4 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Information</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">Here you can provide information about students and get their autentification data</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-info fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Attach student list and click Submit</h3>
      </div>
      <div class="card-body">
        <iframe name="formDestination" hidden></iframe>
        <form id="file_load" action="{% url 'api-file-uploader:file-students-upload' %}" target="formDestination" enctype="multipart/form-data" method="POST" onsubmit="PreSubmit()">
          {% csrf_token %}
          <div class="custom-file">
            <input name="file" type="file" class="custom-file-input" id="test_file" accept=".xlsx">
            <label id="file_l" class="custom-file-label" for="validatedCustomFile">Choose file...</label>
          </div>
          <button type="submit" class="btn btn-outline-primary" id="sub_but1" style="display: none;">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Download authentication data</h3>
      </div>
      <div class="card-body download">
          <a id="invisible" style="display: none;" href="{% url 'api-registration:get-student-list' %}" download="results.xlsx"></a>
          <div class="download-card">If you want to download student's logins and passwords, press the button</div>
          <button class="btn btn-outline-primary download-button" id="sub_but" onclick="Download()">Download</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/logpass-front.js' %}"></script>
{% endblock %}
