<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
    <link href="{% static 'css/test_system.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/test_system.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <title>Exam</title>
</head>


<body onload="initialization();">
<div class="container-fluid">
    <div class="row">
        <div class="UpBackGroundPart"></div>
                <div class="tmssn" id="tmes" onclick="order66();">End</div>
                <div class="ndssn" id="tmts"><span class="timesesion" id="ts">0:0:0</span></div>
                <div class="time" id="tmb"><span class="timetext" id="tm">0:0:0</span></div>
               <!-- <div class="userbox"><div class="userinfo"> user.username  </div></div><img src="{% static 'img/profile.png' %}" alt="user" class="user">-->
        
    </div>
        <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 ">
            <div class="listclear" id="clear">
                <div class="spinner"></div>
            </div>
            <div class="ask" id="assk">
                <div class="yesno" id="yes" onclick="yes();">Yes</div>
                <div class="noyes" id="no" onclick="no();">No</div>
            </div>
            <div class="liststart" id="lstr">
                <button class="strtendbut" id="backk" onclick="startsession();">Start</button>
            </div>

            <div class="listend" id="lend">
                <button class="strtendbut" id="backy" onclick="endsession();">End</button>
            </div>

            <div class="listtext" id="rdng">
                <div class="taskr">
                    <div class="numberr" id="readingheader">Text</div>
                    <div class="textr" id="reading"></div>
                </div>
                <button class="backbutton" id="back" onclick="onqsnsmenuswitch();">Show tasks</button>
            </div>
            <div class="list" id="qsns">
                <div class="task">
                    <div class="number" id="num"></div>

                    <div class="text" id="txt"></div>
                </div>
                <div class="anser" id="anszero" onclick="select(0);">
                    <div class="decorationlft"></div>
                    <div class="anstable" id="first">
                    </div>
                </div>
                <div class="anser" id="ansone" onclick="select(1);">
                    <div class="decorationlft"></div>
                    <div class="anstable" id="second">
                    </div>
                </div>
                <div class="anser" id="anstwo" onclick="select(2);">
                    <div class="decorationlft"></div>
                    <div class="anstable" id="third">
                    </div>
                </div>
                <div class="anser" id="ansthre" onclick="select(3);">
                    <div class="decorationlft"></div>
                    <div class="anstable" id="fourth">
                    </div>
                </div>
                <button class="textbu" id="textbu" onclick="ontetxmenuswitch();">Show text</button>
                <button class="right" id="endbu" onclick="next();">Next question</button>

            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
</body>
</html>