<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
    <link href="{% static 'css/thanks.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/thanks.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <title>Stream_choose</title>
</head>


<body onload="test();">
<div class="container-fluid">
    <div class="row">
        <div class="upbar">
            <div class="userbox">
 <div class="userinfo">{{ user.username }}&nbsp;
     <img src="{% static 'img/profile.png' %}" alt="user" class="user"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 ">
            <div class="list" id="tst">
                <div class="header">
                    You have finished the entry test, thanks for participating.
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
</body>
</html>
